@import "tailwindcss";

:root {
  font-family: MuseoModerno, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #8106AC;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  @apply rounded-lg border border-transparent text-white font-medium bg-purple-700 hover:border-purple-700 focus:outline focus:outline-purple-300 cursor-pointer;
}
